<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.mapper.TradeMapper">
    <select id="existDeal" parameterType="com.proj.po.TradeInfo" resultType="Integer">
        select count(*) from account_product where aid=#{aid} and pid=#{pid} and exist=1
    </select>

    <update id="changeAmount" parameterType="com.proj.po.TradeInfo">
        update account_product set amount = (#{amount}) where aid=#{aid} and pid=#{pid} and exist=1
    </update>

    <insert id="createDeal" parameterType="com.proj.po.TradeInfo">
        insert into account_product(aid,pid,amount,price,createtime) values (#{aid},#{pid},#{amount},#{price},#{createtime})
    </insert>

    <select id="getAmount" parameterType="com.proj.po.TradeInfo" resultType="Integer">
        select sum(amount) from account_product where aid=#{aid} and pid=#{pid} and exist=1
    </select>

    <select id="getPid" parameterType="Integer" resultType="Integer">
        select pid from account_product where aid=#{aid} and exist=1
    </select>

    <select id="getDelivery" resultType="Integer">
        select id from account_product,product where product.pid = account_product.pid and product.delivery = "yes" and exist=1
    </select>

    <select id="getInfoById" parameterType="Integer" resultType="com.proj.po.TradeInfo">
        select aid,pid,amount from account_product where id=#{id} and exist=1
    </select>
</mapper>